name: Flutter CI
run-name: An치lisis de c칩digo est치tico 游댍 ${{ github.sha }}
on:
  push:
    branches: ["main"]

jobs:
  flutter-lint:
    name: An치lisis de c칩digo est치tico
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/desmodus_app

    steps:
      #1: Clonar repo
      - name: Obtener c칩digo fuente
        uses: actions/checkout@v4

        #2: Set up jdk
      - name: Instalar Java
        uses: actions/setup-java@v3.12.0
        with:
          distribution: "temurin"
          java-version: "17"

        #4: Set up flutter sdk
      - name: Instalar flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

        #5: Obtener dependencias
      - name: Obtener dependencias
        run: flutter pub get

      - run: |
          echo "# Resumen de an치lisis de c칩digo 游댍" >> $GITHUB_STEP_SUMMARY
          echo "---" >> $GITHUB_STEP_SUMMARY

        #6: Lint de c칩digo
      - name: An치lisis de c칩digo est치tico
        run: |
          echo '```' >> $GITHUB_STEP_SUMMARY
          flutter analyze | tee -a $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
        continue-on-error: true
